[Unit]
Description=ScoreTable
After=network.target

[Service]
User=root
WorkingDirectory=/scoretable
ExecStart=/scoretable/venv/bin/gunicorn -b 0.0.0.0:8000 scoretable:app
Restart=always

[Install]
WantedBy=multi-user.target
